<div class="modal-header">
    <button type="button" class="close" ng-click="dialog.dismiss()" aria-hidden="true">×</button>
    <h4 class="modal-title"><i class="fa fa-copy"></i> Dupliquer une formation</h4>
</div>
<form sf-href="training.duplicate({id: training.id})" sf-form="form" json-path="form" on-success="onSuccess(data)" class="form-horizontal" novalidate>
<div class="modal-body center-block">

        <div class="form-group" ng-if="form.children.firstSessionPeriodSemester" ng-class="{'has-error': form.children.firstSessionPeriodSemester.errors.length || form.children.firstSessionPeriodYear.errors.length }">
            <label class="col-sm-3 control-label" for="{{ form.children.firstSessionPeriodSemester.id }}">{{ form.children.firstSessionPeriodSemester.label }}</label>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-7"><span sf-form-widget="form.children.firstSessionPeriodSemester" class="form-control"/></div>
                    <div class="col-sm-5"><span sf-form-widget="form.children.firstSessionPeriodYear" class="form-control"/></div>
                </div>
                <div ng-repeat="error in form.children.firstSessionPeriodSemester.errors" class="help-block">{{ error }}</div>
                <div ng-repeat="error in form.children.firstSessionPeriodYear.errors" class="help-block">{{ error }}</div>
            </div>
        </div>

</div>
<div class="modal-footer">
    <a class="btn btn-default" ng-click="dialog.dismiss()">Annuler</a>
    <input class="btn btn-primary" type="submit" value="Valider" />
</div>
</form>
