{% block javascripts %}
    <script type="application/javascript">
        (function($) {
            $(document).ready(function() {
                function toogleFieldDisplay(selectField, textField) {
                    var option = $('select#' + selectField + ' option:selected').text();
                    var $field = $($($('#' + textField)[0].parentNode)[0].parentNode);
                    if (option == "Autre") {
                        $field.show();
                    }
                    else {
                        $('#' + textField).val(null);
                        $field.hide();
                    }
                }

                function tooglePublicTypeDisplay() {
                    return toogleFieldDisplay('profile_publicType', 'profile_otherPublicType');
                }

                function toogleFellowshipDisplay() {
                    return toogleFieldDisplay('profile_fellowship', 'profile_otherFellowship');
                }

                function toogleEmployerDisplay() {
                    return toogleFieldDisplay('profile_employer', 'profile_otherEmployer');
                }

                tooglePublicTypeDisplay();
                toogleFellowshipDisplay();
                toogleEmployerDisplay();

                $('#profile_publicType').change(tooglePublicTypeDisplay);
                $('#profile_fellowship').change(toogleFellowshipDisplay);
                $('#profile_employer').change(toogleEmployerDisplay);

            });
        })(jQuery);
    </script>
{% endblock %}

{{ form_start(form) }}
<section>
        {% for child in form.children%}
            {{ form_row(child) }}
        {% endfor %}
</section>
<section>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
        </div>
    </div>
</section>
{{ form_end(form) }}