{{ form_start(form) }}
<section>
        {% for child in form.children%}
            {{ form_row(child) }}
        {% endfor %}
</section>
<section>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
        </div>
    </div>
</section>
{{ form_end(form) }}