<form sf-xeditable-form="form" sf-href='trainer.view({id: trainer.id})' on-success="onSuccess(data)">
    <div class="row">
        <div class="col-md-8">
            <div class="btn-group pull-right">
                <a class="btn btn-fa" href="" tooltip="Changer le service organisateur de rattachement" ng-if="$user.hasAccessRight('sygefor_core.access_right.trainer.all.update')" ng-click="changeOrganization()"><span class="fa fa-university"></span></a>
                <a class="btn btn-fa" href="" tooltip="Supprimer" ng-if="trainer._accessRights.delete" ng-click="delete()"><span class="fa fa-trash-o"></span></a>
            </div>

            <div class="pre-title">Enregistré le {{ trainer.createdAt|date: 'dd/MM/yyyy' }} - {{ trainer.organization.name }}</div>

            <h2>{{ trainer.fullName }}</h2>

            <div class="row">
                <div class="col-lg-6">
                    <h3>Informations personnelles</h3>
                    <hr>
                    <ul class="summary">
                        <li><label>Nom</label> <span sf-xeditable="form.children.lastName">{{ trainer.lastName }}</span></li>
                        <li><label>Prénom</label> <span sf-xeditable="form.children.firstName">{{ trainer.firstName }}</span></li>
                        <li><label>Email</label> <span sf-xeditable="form.children.email">{{ trainer.email }}</span></li>
                        <li><label>Téléphone</label> <span sf-xeditable="form.children.phoneNumber">{{ trainer.phoneNumber }}</span></li>
                        <li><label>Archivé</label> <span sf-xeditable="form.children.isArchived">{{ trainer.isArchived ? 'Oui' : 'Non' }}</span></li>
                    </ul>
                </div>

                <div class="col-lg-6">
                    <h3>Adresse</h3>
                    <hr>
                    <ul class="summary">
                        <li><label>Type d'adresse</label> <span sf-xeditable="form.children.addressType">{{ trainer.addressType ? 'Adresse professionnelle' : 'Adresse personnelle' }}</span></li>
                        <li><label>Adresse</label> <span sf-xeditable="form.children.address" data-type="textarea">{{ trainer.address }}</span></li>
                        <li><label>Code postal</label> <span sf-xeditable="form.children.zip">{{ trainer.zip }}</span></li>
                        <li><label>Ville</label> <span sf-xeditable="form.children.city">{{ trainer.city }}</span></li>
                    </ul>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-lg-6">
                    <h3>Informations professionnelles</h3>
                    <hr>
                    <ul class="summary">
                        <li><label>Intervenant interne</label> <span sf-xeditable="form.children.isOrganization">{{ trainer.isOrganization ? 'Oui' : 'Non' }}</span></li>
                        <li><label>Responsabilités</label> <span sf-xeditable="form.children.responsabilities">{{ trainer.responsabilities }}</span></li>
                        <li><label>Service</label> <span sf-xeditable="form.children.service">{{ trainer.service }}</span></li>
                        <li><label>Fonction</label> <span sf-xeditable="form.children.position">{{ trainer.position }}</span></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h3>Observations</h3>
                    <hr>
                    <ul class="summary">
                        <li><label>Observations</label>  <span sf-xeditable="form.children.comments" data-type="textarea">{{ trainer.comments }}</span></li>
                    </ul>
                </div>
            </div>

            <div entity-emails trainer="trainer.id"></div>
        </div>

        <div class="col-md-4 sidebar">
            <!--
            PARTICIPATIONS
            -->
            <div participations-block="trainer"></div>
        </div>
    </div>
</form>
