[submodule "common/sygefor/core-bundle"]
	path = common/sygefor/core-bundle
	url = https://github.com/sygefor/core-bundle.git
[submodule "common/sygefor/api-bundle"]
	path = common/sygefor/api-bundle
	url = https://github.com/sygefor/api-bundle.git
[submodule "common/docker"]
	path = common/docker
	url = https://github.com/sygefor/docker-shibboleth.git
[submodule "common/sygefor/notification-bundle"]
	path = common/sygefor/notification-bundle
	url = git@github.com:sygefor/notification-bundle.git
