/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/check.php
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/Resources/CSV/
/app/Resources/Material
/app/Resources/Templates
/app/SymfonyRequirements.php
/bin/
/bower_components
/node_modules
/web/assets/
/web/bundles/
/web/ckeditor
/web/js
/var
/vendor/