/web/bundles/
/web/vendor/
/web/build/
!web/build/.gitkeep
/web/check.php
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/SymfonyRequirements.php
/app/check.php
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/node_modules
/bower_components
.sass-cache/
