{% extends "@Front/base.html.twig" %}

{% block header %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h3>Bienvenue sur la plateforme formation open source Sygefor3</h3>
                    <h1>Mentions légales</h1>
                </div>
            </div><!-- /row -->
        </div> <!-- /container -->
    </header>
{% endblock %}

{% block body %}
<div class="container">
    <section>
        <div class="outer-wrap">
            <div class="inner-wrap">
                <!-- RESULTS -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Editeur</h2>
                        <p>A renseigner</p>

                        <h2>Conception</h2>
                        <p>A renseigner</p>

                        <h2>Réalisation et conception graphique</h2>
                        <p>
                            <strong>Conjecto : </strong><br>
                            <ul class="stylized-list">
                                <li>Conception et développement informatique</li>
                                <li>Création graphique et réalisation</li>
                                <li>Maintenance technique</li>
                            </ul>
                            <ul class="stylized-list">
                                <li>Adresse, contacts :
                                    <ul>
                                        <li>Conjecto, 74D Rue de Paris, 35000 Rennes</li>
                                        <li>Tél. : 02 99 28 45 21</li>
                                        <li>Mel : <a href="mailto:contact@conjecto.com">contact@conjecto.com</a></li>
                                        <li><a href="http://www.conjecto.com" target="_blank">http://www.conjecto.com</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </p>

                        <h3>Propriété intellectuelle</h3>
                        <p>
                            SYGEFOR3 est un logiciel développé par CONJECTO à l’initiative de l’Association du Réseau des URFIST (ARU). Toute réutilisation de SYGEFOR 3 devra se faire conformément aux règles, présentées ci-dessous, de la licence CeCILL-C.
                        </p>

                        <h3>Marque </h3>
                        <p>
                            SYGEFOR est une marque déposée à l’INPI le 3 février 2014 ; n° national : 14 4 065 612.
                        </p>

                        <!--<h3>Conformité avec la CNIL</h3>-->
                        <!--<p>-->
                        <!--La base de données des stagiaires et intervenants de SYGEFOR 3 a été déclarée à la CNIL, le 28 mai 2014 ; numéro de déclaration : 1765340 v 0.-->
                        <!--</p>-->

                        <h3>Conditions de réutilisation de SYGEFOR 3</h3>
                        SYGEFOR 3 est un logiciel en open source utilisable selon les conditions de la licence <a href="http://www.cecill.info/licences/Licence_CeCILL-C_V1-fr.html" target="_blank">CeCILL-C</a>.
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock body %}
