{% block footer %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <small>2016. SYGEFOR3 est un logiciel en open source, développé par <a href="http://www.conjecto.com/" target="_blank">Conjecto</a> à l’initiative du CNRS.</small>
                <ul class="secondary-menu">
                    <li><a href="{{ path('front.public.about') }}">A propos de SYGEFOR 3</a></li>
                    <li><a href="http://www.cnrs.fr" target="_blank">CNRS</a></li>
                    <li><a href="{{ path('front.public.legalNotice') }}">Mentions légales</a></li>
                    <li>Contact : <a href="mailto:contact@conjecto.com">contact@conjecto.com</a></li>
                </ul>
            </div>
        </div><!-- --/row ---->
    </div><!-- --/container ---->
</footer>
{% endblock footer %}