<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<ul>

    {% for ope in operations %}

        <li><a href="{{ path('sygefor_core.batch_operation',{'id':ope.id,'ids':ope.ids,options:'rr' } ) }}">{{ ope.label }}</a></li>
    {% endfor %}
</ul>
</body>
</html>