<table class="table">
    <caption>{{ caption }}</caption>
   <thead>
       <tr>
           <th>Intitulé</th>
           <th>Nombre de sessions</th>
           <th>Nombre d'heures</th>
           <th>Type d'intervenant</th>
           <th>Thématique</th>
           <th>Type de formation</th>
           <th>Types de public</th>
           <th>Demandes d'inscriptions</th>
           <th>Participants</th>
           <th>Coût</th>
       </tr>
   </thead>
   <tbody>
       <tr ng-repeat="training in data">
           <td><a href="" ui-sref="training.detail.view({id: training.id})">{{ training.name }}</a></td>
           <td>{{ training.sessions }}</td>
           <td class="text-right">{{ training.hourDuration }}</td>
           <td>
               <span ng-if="training.isUrfist">URFIST</span>
               <span ng-if="!training.isUrfist">Extérieur</span>
           </td>
           <td>{{ training.theme }}</td>
           <td>{{ training.interventionType }}</td>
           <td>{{ training.publicTypes.join(', ') }}</td>
           <td class="text-right">{{ training.numberOfRegistrations }}</td>
           <td class="text-right">{{ training.numberOfParticipants }}</td>
           <td class="text-right">{{ training.totalCost }}&nbsp;€</td>
       </tr>
   </tbody>
</table>
