@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../node_modules/font-awesome/scss/font-awesome.scss";

body {
  padding:10px;
}

.footer {
  position: fixed;
  bottom: 0;
}
