<form sf-href="material.add({entity_id: dialog.params.entity_id, type_entity: dialog.params.entityType, material_type: dialog.params.material_type})" sf-form="form" json-path="form" on-success="onSuccess(data)" class="form-horizontal">
<div class="modal-header">
    <button type="button" class="close" ng-click="dialog.dismiss()" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel">Ajouter un lien</h4>
</div>
<div class="modal-body">
    <div ng-repeat="key in ['name', 'url']">
        <div class="form-group" ng-if="form.children[key]" ng-class="{'has-error': form.children[key].errors.length }">
            <label class="col-sm-3 control-label" for="{{ form.children[key].id }}">{{ form.children[key].label }}</label>
            <div class="col-sm-9">
                <span sf-form-widget="form.children[key]" class="form-control"/>
                <div ng-repeat="error in form.children[key].errors" class="help-block">{{ error }}</div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-default" ng-click="dialog.dismiss()">Fermer</a>
    <input class="btn btn-primary" type="submit" value="Ajouter" />
</div>
</form>