.list-item {
  padding-bottom: $padding-large-vertical * 2;
  padding-top: $padding-large-vertical * 2;
  display: block;
  border-top: 1px solid $brand-primary;
  margin-top: -1px !important;
  line-height: 22px;

  &:first-child {
    border-top-color: transparent;
  }

  & >:first-child {
    padding-right: 0;
  }

  h4 {
    margin-top: 0;
  }

  .session__moment {
    display: none;
    @extend .h6;
    color: #AAAAAA;
  }

  .session__organization {
    color: $brand-primary;
    line-height: 1;
    margin-bottom: 0.5em;
  }

  .session__date, .session__type, .session__organization {
    @media (max-width: $screen-md-min) {
      display: inline-block;
      line-height: 1;
      margin-right: 1em;
      margin-top: 0.25em;
    }
  }

  .list-item__bottom {
    .session__date, .session__type, .session__organization, .session__place, .session__duration, .session__trainer {
      display: inline-block;
      margin-right: $padding-base-horizontal;
    }
  }
}

.no-session.well {
  margin-top: $padding-base-vertical;
}