<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <style>
            BODY {
                margin:0;
                padding:0;
            }
            td {
                width: 33%;
            }
        </style>
    </head>
    <body>
        <table style="width: 100%">
            <tr>
                <td>{{ infos|join(' - ') }}</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </body>
</html>
