<div ng-repeat="key in ['organization', 'name', 'eventType', 'theme']">
    <div class="form-group" ng-if="form.children[key]" ng-class="{'has-error': form.children[key].errors.length }">
        <label class="col-sm-3 control-label" for="{{ form.children[key].id }}">{{ form.children[key].label }}</label>
        <div class="col-sm-9">
            <span sf-form-widget="form.children[key]" class="form-control"/>
            <div ng-repeat="error in form.children[key].errors" class="help-block">{{ error }}</div>
        </div>
    </div>
</div>

<!-- event kind -->
<div class="form-group" ng-class="{'has-error': form.children.eventKind.errors.length }">
    <label class="col-sm-3 control-label" for="{{ form.children.eventKind.id }}">{{ form.children.eventKind.label }}</label>
    <div class="col-sm-9">
        <!--label class="checkbox-inline" ng-repeat="(key,choice) in form.children.eventKind.children">
            <input type="checkbox" name="{{ form.children.eventKind.name }}" ng-model="form.children.eventKind.children[choice.v].value"> {{ choice.l }}
        </label-->
        <label class="checkbox-inline" ng-repeat="(key,choice) in form.children.eventKind.choices">
            <input type="checkbox" name="{{ form.children.eventKind.name }}" checklist-model="form.children.eventKind.value" checklist-value="choice.v"> {{ choice.l }}
        </label>
        <div ng-repeat="error in form.children.eventKind.errors" class="help-block">{{ error }}</div>
    </div>
</div>

<!-- Session -->
<div class="form-group">
    <label class="col-sm-3 control-label" for="form.children.session.children.dateBegin.id">Date(s)</label>
    <div class="col-sm-9">
        <div class="controls form-inline input-daterange" bs-datepicker>
            <span ng-class="{'has-error': form.children.session.children['dateBegin'].errors.length }">
                <input type="text" class="form-control input-datepicker" ng-model="form.children.session.children['dateBegin'].value" />
            </span>
            <label>au</label>
            <span ng-class="{'has-error': form.children.session.children['dateEnd'].errors.length }">
                <input type="text" class="form-control input-datepicker" ng-model="form.children.session.children['dateEnd'].value" />
            </span>
        </div>
        <span ng-class="{'has-error': form.children.session.children['dateBegin'].errors.length+form.children.session.children['dateEnd'].errors }">
            <div ng-repeat="error in form.children.session.children['dateBegin'].errors" class="help-block">{{ error }}</div>
            <div ng-repeat="error in form.children.session.children.['dateEnd'].errors" class="help-block">{{ error }}</div>
        </span>
    </div>
</div>
<div class="form-group" ng-if="form.children.session.children['maximumNumberOfRegistrations']" ng-class="{'has-error': form.children.session.children['maximumNumberOfRegistrations'].errors.length }">
    <label class="col-sm-3 control-label" for="{{ form.children.session.children['maximumNumberOfRegistrations'].id }}">{{ form.children.session.children['maximumNumberOfRegistrations'].label }}</label>
    <div class="col-sm-3">
        <span sf-form-widget="form.children.session.children['maximumNumberOfRegistrations']" class="form-control"/>
        <div ng-repeat="error in form.children.session.children['maximumNumberOfRegistrations'].errors" class="help-block">{{ error }}</div>
    </div>
</div>
