{% import "SygeforActivityReportBundle::macros.html.twig" as macros %}

<section>
    <h2>Récapitulatifs</h2>
    {{ macros.listing('Liste des stages', report.listings.internship | default, 'SygeforActivityReportBundle:training:listings/internship.html.twig') }}
</section>
