{% import "SygeforActivityReportBundle::macros.html.twig" as macros %}

<section>
    <h2>Récapitulatifs</h2>
    {{ macros.listing('Liste des stages', report.listings.internship | default, 'SygeforActivityReportBundle:training:listings/internship.html.twig') }}
    {{ macros.listing('Liste des formations doctorales', report.listings.doctoral_training | default, 'SygeforActivityReportBundle:training:listings/doctoral-training.html.twig') }}
    {{ macros.listing('Liste des enseignements de cursus', report.listings.training_course | default, 'SygeforActivityReportBundle:training:listings/training-course.html.twig') }}
    {{ macros.listing('Liste des actions diverses', report.listings.diverse_training | default, 'SygeforActivityReportBundle:training:listings/diverse-training.html.twig') }}
</section>
