<div class="modal-header">
    <button type="button" class="close" ng-click="dialog.dismiss()">×</button>
    <h4 class="modal-title">Publipostage</h4>
</div>

<div class="modal-body">
    <form novalidate class="form-horizontal" role="form" enctype="multipart/form-data">
        <div class="form-group">
            <label class="col-sm-4 control-label">Nombre d'éléments </label>
            <div class="col-sm-8">
                <span class="form-control">{{ items.length }}</span>
            </div>
            </div>
            <div class="form-group">
                <label for="inputTplName" class="col-sm-4 control-label">Modèles disponibles </label>
                <div class="col-sm-8">
                    <select type="text" class="form-control" id="inputTplName" ng-model="options.template" ng-options="value as value.name for value in templateList"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputTplFile" class="col-sm-4 control-label">Choisir un modèle </label>
                <div class="col-sm-6">
                    <input type="file" class="form-control" onChange="angular.element(this).scope().fileChanged(this,angular.element(this).scope())" id="inputTplFile" ng-model="options.templateFile" />
                </div>
                <div class="col-sm-2 ">
                    <button class="btn btn-primary" ng-click="resetUpload(angular.element($('#inputTplFile')))"><i class="fa fa-undo fa-2g"></i></button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <input type="checkbox" id="sendPdf" ng-model="options.sendPdf" />
                    <label for="sendPdf" class="control-label">Générer en pdf</label>
                </div>
            </div>
            <div class="alert alert-danger" ng-show="chooseError != ''">{{ chooseError }}</div>
        </form>
    </div>
</div>

<div class="modal-footer">
    <a class="btn btn-default"  ng-click="dialog.dismiss()">Annuler</a>
    <a class="btn btn-primary" ng-click="ok()">Créer le document</a>
</div>
