{% extends "@Front/base.html.twig" %}

{% block header %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h3>Délégation {{ organization.name }}</h3>
                    <h1>Calendrier des formations</h1>
                </div>
            </div><!-- /row -->
        </div> <!-- /container -->
    </header>
{% endblock %}

{% block body %}
    {% include '@Front/Program/session-list/program.html.twig' %}
{% endblock body %}
