<div class="row">
    <div class="col-md-8">
        <div class="btn-group pull-right">
            <a class="btn btn-fa" href="" tooltip="Publipostage" ng-click="$dialog.open('batch.publipost', { items: [inscription.id], service: 'inscription' })"><span class="fa fa-file-word-o"></span></a>
            <a class="btn btn-fa" href="" tooltip="Attestation de stage" ng-if="inscription.presenceStatus.status == 1" ng-click="$dialog.open('batch.export.pdf', { items: [inscription.id], service: 'inscription.attestation' })"><span class="fa fa-file-pdf-o"></span></a>
            <a class="btn btn-fa" href="" tooltip="Voir le profil" ng-if="inscription.trainee._accessRights.view" ui-sref="trainee.detail.view({id: inscription.trainee.id})"><span class="fa fa-user"></span></a>
            <a class="btn btn-fa" href="" tooltip="Voir la session" ng-if="inscription.session.training._accessRights.view" ui-sref="session.detail.view({training: inscription.session.training.id, id: inscription.session.id})"><span class="fa fa-calendar-o"></span></a>
            <a class="btn btn-fa" href="" tooltip="Supprimer" ng-if="inscription._accessRights.delete" ng-click="delete()"><span class="fa fa-trash-o"></span></a>
        </div>

        <div class="pre-title">{{ inscription.session.dateBegin|date: 'dd/MM/yyyy' }} - {{ inscription.session.training.name }}</div>

        <h2>Inscription de {{ inscription.trainee.fullName }}</h2>

        <div>
            <strong>Date :</strong> {{ inscription.createdAt | date: 'dd/MM/yyyy HH:mm' }}<br>

            <div class="btn-group dropdown">
                <button class="btn btn-xs dropdown-toggle" ng-class="$root.inscriptionStatusClass(inscription.inscriptionStatus.status, 'btn')" data-toggle="dropdown">{{ inscription.inscriptionStatus.name }} <span class="caret"></span></button>
                <ul ng-if="inscription._accessRights.edit" class="dropdown-menu text-small">
                    <li ng-repeat="status in inscriptionStatus track by status.id" ng-class="{disabled :inscription.inscriptionStatus.id == status.id}"><a href="" ng-click="updateInscriptionStatus(status)"><i class="fa fa-check" ng-if="inscription.inscriptionStatus.id == status.id"></i> {{ status.name }}</a></li>
                </ul>
            </div>

            <div ng-if="inscription.presenceStatus || inscription.inscriptionStatus.status == 2" class="btn-group dropdown">
                <button class="btn btn-xs dropdown-toggle" ng-class="$root.presenceStatusClass(inscription.presenceStatus.status, 'btn')" data-toggle="dropdown">
                    <span ng-if="inscription.presenceStatus">{{ inscription.presenceStatus.name }}</span>
                    <span ng-if="!inscription.presenceStatus"><em>Statut de présence</em></span>
                    <span class="caret"></span>
                </button>
                <ul ng-if="inscription._accessRights.edit" class="dropdown-menu text-small">
                    <li ng-repeat="status in presenceStatus track by status.id" ng-class="{disabled :inscription.presenceStatus.id == status.id}"><a href="" ng-click="updatePresenceStatus(status)"><i class="fa fa-check" ng-if="inscription.presenceStatus.id == status.id"></i> {{ status.name }}</a></li>
                </ul>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-lg-6">
                <h3><i class="fa fa-user"></i> {{ inscription.trainee.title.name }} {{ inscription.trainee.fullName }}</h3><hr>
                <ul class="summary">
                    <li><label>Email</label> {{ inscription.trainee.email }}</li>
                    <li><label>Téléphone</label> {{ inscription.phoneNumber }}</li>
                    <li><label>Unité</label> {{ inscription.institution.machineName == 'other' ? inscription.otherInstitution : inscription.institution.name }}</li>
                    <li><label>Code postal</label> {{ inscription.zip }}</li>
                    <li><label>Ville</label> {{ inscription.city }}</li>
                </ul>
            </div>

            <div class="col-lg-6">
                <h3>{{ inscription.publicType.name ? inscription.publicType.name : 'Profil professionnel' }}</h3><hr>
                <ul class="summary">
                    <li><label>Catégorie de public</label> {{ inscription.publicType.name }}</li>
                    <li><label>Payant</label> {{ inscription.isPaying ? 'Oui' : 'Non' }}</li>
                    <li><label>Fonction, statut</label> {{ inscription.status }}</li>
                    <li><label>Domaine disciplinaire</label> {{ inscription.disciplinaryDomain.name }}</li>
                    <li><label>Discipline</label> {{ inscription.disciplinary.name }}</li>
                </ul>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-lg-12">
                <form sf-xeditable-form="form" sf-href='inscription.view({id: inscription.id})' on-success="onSuccess(data)">
                    <h3>Informations relatives à l'inscription</h3>
                    <hr>
                    <ul class="summary">
                        <li><label>Tarif</label> {{ inscription.price ? inscription.price : 0 }} &euro;</li>
                        <li><label>Typologie</label> <span sf-xeditable="form.children.typology">{{ inscription.typology.name }}</span></li>
                        <li><label>Motivation</label> <span sf-xeditable="form.children.motivation" data-type="textarea">{{ inscription.motivation }}</span></li>
                    </ul>
                </form>

            </div>
        </div>

        <div class="alert alert-warning well-sm"><strong>Important :</strong> les informations présentées ci-dessus <strong>sont datées de la date de la session</strong> ({{ inscription.session.dateBegin|date: 'dd/MM/yyyy' }}).
            <span ng-if="inscription.trainee._accessRights.view">Pour obtenir des informations à jour, vous pouvez <a ui-sref="trainee.detail.view({id: inscription.trainee.id})" class="alert-link">consulter le profil du participant <i class="fa fa-external-link"></i></a>.</span>
            <span ng-if="!inscription.trainee._accessRights.view">Pour obtenir des informations à jour, contactez un administrateur de l'{{ inscription.trainee.organization.name }}.</span>
        </div>

    </div>

    <div class="col-sm-4">
        <div resume-session-block="inscription.session"></div>
    </div>
</div>