<div class="row">
    <div class="col-md-8">
        <div class="btn-group pull-right">
            <a class="btn btn-fa" href="" tooltip="Voir la session" ng-if="inscription.session.training._accessRights.view" ui-sref="session.detail.view({training: inscription.session.training.id, id: inscription.session.id})"><span class="fa fa-calendar-o"></span></a>
            <a class="btn btn-fa" href="" tooltip="Voir le profil" ng-if="inscription.trainee._accessRights.view" ui-sref="trainee.detail.view({id: inscription.trainee.id})"><span class="fa fa-user"></span></a>
            <a class="btn btn-fa" href="" tooltip="Attestation de présence" ng-if="inscription.presenceStatus.status == 1" ng-click="$dialog.open('batch.export.pdf', { items: [inscription.id], service: 'inscription.attestation' })"><span class="fa fa-file-pdf-o"></span></a>
            <a class="btn btn-fa" href="" tooltip="Supprimer" ng-if="inscription._accessRights.delete" ng-click="delete()"><span class="fa fa-trash-o"></span></a>
        </div>

        <div class="pre-title">{{ inscription.session.training.name }} - Session du {{ inscription.session.dateBegin|date: 'dd/MM/yyyy' }} - inscription demandée le {{ inscription.createdAt | date: 'dd/MM/yyyy à HH:mm' }}</div>

        <h2>Inscription de {{ inscription.trainee.fullName }}</h2>

        <div>
            <div class="btn-group dropdown">
                <button class="btn btn-xs dropdown-toggle" ng-class="$root.inscriptionStatusClass(inscription.inscriptionStatus.status, 'btn')" data-toggle="dropdown">{{ inscription.inscriptionStatus.name }} <span class="caret"></span></button>
                <ul ng-if="inscription._accessRights.edit" class="dropdown-menu text-small">
                    <li ng-repeat="status in inscriptionStatus track by status.id" ng-class="{disabled :inscription.inscriptionStatus.id == status.id}"><a href="" ng-click="updateInscriptionStatus(status)"><i class="fa fa-check" ng-if="inscription.inscriptionStatus.id == status.id"></i> {{ status.name }}</a></li>
                </ul>
            </div>

            <div ng-if="inscription.presenceStatus || inscription.inscriptionStatus.status == 2" class="btn-group dropdown">
                <button class="btn btn-xs dropdown-toggle" ng-class="$root.presenceStatusClass(inscription.presenceStatus.status, 'btn')" data-toggle="dropdown">
                    <span ng-if="inscription.presenceStatus">{{ inscription.presenceStatus.name }}</span>
                    <span ng-if="!inscription.presenceStatus"><em>Statut de présence</em></span>
                    <span class="caret"></span>
                </button>
                <ul ng-if="inscription._accessRights.edit" class="dropdown-menu text-small">
                    <li ng-repeat="status in presenceStatus track by status.id" ng-class="{disabled :inscription.presenceStatus.id == status.id}"><a href="" ng-click="updatePresenceStatus(status)"><i class="fa fa-check" ng-if="inscription.presenceStatus.id == status.id"></i> {{ status.name }}</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3>Informations personnelles</h3>
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="summary">
                            <li><label>Civilité</label> <span>{{ inscription.trainee.title.name }}</span></li>
                            <li><label>Nom</label> <span>{{ inscription.trainee.lastName }}</span></li>
                            <li><label>Prénom</label> <span>{{ inscription.trainee.firstName }}</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="summary">
                            <li><label>Email</label> <span>{{ inscription.trainee.email }}</span></li>
                            <li><label>Téléphone</label> <span>{{ inscription.trainee.phoneNumber }}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-lg-12">
                <h3>Informations professionnelles</h3>
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="summary">
                            <li><label>Centre</label> <span>{{ inscription.trainee.organization.name }}</span></li>
                            <li><label>Type de personnel</label> <span>{{ inscription.publicType.name }}</span></li>
                            <li ng-show="inscription.publicType.machineName === 'other'"><label>Autre cat. de public</label> <span>{{ inscription.otherPublicType }}</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="summary">
                            <li><label>Statut</label> <span>{{ inscription.status }}</span></li>
                            <li><label>Fonction</label> <span>{{ inscription.function }}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-lg-12">
                <form sf-xeditable-form="form" sf-href='inscription.view({id: inscription.id})' on-success="onSuccess(data)">
                    <h3>Informations relatives à l'inscription</h3>
                    <hr>
                    <ul class="summary">
                        <li><label>Frais pédagogiques</label> <span sf-xeditable="form.children.price">{{ inscription.price > 0 ? (inscription.price | number) : '0' }} €</span></li>
                        <li><label>Motivation</label> <span sf-xeditable="form.children.motivation" data-type="textarea">{{ inscription.motivation }}</span></li>
                    </ul>
                </form>
            </div>
        </div>

        <div class="alert alert-warning well-sm"><strong>Important :</strong> les informations présentées ci-dessus <strong>sont datées de la date de la session</strong> ({{ inscription.session.dateBegin|date: 'dd/MM/yyyy' }}).
            <span ng-if="inscription.trainee._accessRights.view">Pour obtenir des informations à jour, vous pouvez <a ui-sref="trainee.detail.view({id: inscription.trainee.id})" class="alert-link">consulter le profil du participant <i class="fa fa-external-link"></i></a>.</span>
            <span ng-if="!inscription.trainee._accessRights.view">Pour obtenir des informations à jour, contactez un administrateur de l'{{ inscription.trainee.organization.name }}.</span>
        </div>

    </div>

    <div class="col-sm-4">
        <div resume-session-block="inscription.session"></div>

        <div class="block block-inscriptions">
            <div class="block-title">
                <div class="full-width">
                    <a class="btn btn-link h4"><span class="fa fa-calendar-o"></span>Formations suivies dans le domaine</a>
                    <div class="pull-right"><span class="badge">{{ latestInscriptions.items.length}}</span></div>
                </div>
            </div>
            <div class="block-body">
                <div class="well well-empty well-sm" ng-if="latestInscriptions.total == 0">
                    Aucune formation suivie dans le même domaine.
                </div>
                <ul class="list-unstyled list-padded">
                    <li ng-repeat="inscription in latestInscriptions.items">
                        <a ui-sref="session.detail.view({training: inscription.session.training.id, id: inscription.session.id})">
                            {{ inscription.createdAt | date:'d MMMM y' }} :
                            {{ inscription.session.training.name }},
                            {{ inscription.session.dateRange }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>