<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title">Fusion d'individus</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 alert alert-danger" ng-if="error != ''">{{ error }}</div>
        <div class="col-md-12" ng-if="error == ''">
            <div class="alert alert-danger"><i class="fa fa-warning"></i> Veuillez sélectionner le compte à garder.<br/> Attention, cette action est irreversible, prennez le temps de relire avant validation.</div>
            <div class="row mb-1 merge">
                <div class="col-md-3 grid-list-detail-results" >
                    <div class="list-group">
                        <div class="list-group-item" ng-repeat="trainee in trainees" ng-class="{'active': $index == indexToKeep}" ng-click="selectTraineeToKeep(trainee,$index)">
                            <i class="fa" ng-class="{'fa-times': $index != indexToKeep, 'fa-check-square-o': $index == indexToKeep}"></i>
                            <div>
                                    <label>{{ trainee.fullName }}</label>
                                    <p class="list-group-item-text">
                                        <span>Inscrit le {{ trainee.createdAt|date: 'dd/MM/yyyy' }}</span>
                                        <br/>
                                        <span><b>{{ trainee.organization.name }}</b></span>
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9" >
                    <ul class="summary" >
                        <li><label>Nom</label> <span >{{ traineeToKeep.lastName }}</span></li>
                        <li><label>Prénom</label> <span >{{ traineeToKeep.firstName }}</span></li>
                        <li><label>Email</label> <span> <select ng-model="$parent.selectedEmail" ng-options="o.email as o.email + ' - ' + (o.date | date:'dd/MM/yyyy') for o in emails"></select></span></li>
                        <li><label>Téléphone</label> <span >{{ traineeToKeep.phoneNumber }}</span></li>
                        <li><label>Etablissement</label>  <span >{{ traineeToKeep.institution.name }}</span></li>
                        <li ng-if="traineeToKeep.institution.machineName == 'other'"><label>Autre établissement</label> <span >{{ traineeToKeep.otherInstitution }}</span></li>
                    </ul>
                    <ul class="summary">
                        <li><label>Catégorie de public</label> <span >{{ traineeToKeep.publicCategory.name }}</span></li>
                        <li><label>Situation professionnelle</label> <span >{{ traineeToKeep.professionalSituation.name }}</span></li>
                        <li><label>Fonction, statut</label>  <span >{{ traineeToKeep.status }}</span></li>
                        <li><label>Domaine disciplinaire</label> <span >{{ traineeToKeep.disciplinaryDomain.name }}</span></li>
                        <li><label>Discipline</label> <span >{{ traineeToKeep.disciplinary.name }}</span></li>
                        <li><label>Cursus d'enseignement</label> <span >{{ traineeToKeep.teachingCursus.name }}</span></li>
                    </ul>
                    <ul class="summary">
                        <li><label>Nombre d'inscriptions</label> <span >{{ traineeToKeep.inscriptions.length }}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <a class="btn btn-default" ng-click="cancel()">Annuler</a>
    <a class="btn btn-primary" ng-click="ok()" ng-if="error == ''">Valider</a>
</div>
