Bienvenue sur SYGEFOR !<br/><br/>

Un administrateur de Sygefor vous a créé un compte. Afin de pouvoir l'utiliser, vous devez d'abord l'activer en utilisant le lien suivant :<br/><br/>

<p style="text-align: center;"><a href="{{ url }}">{{ url }}</a></p><br/><br/>

Cordialement,<br/>
L’équipe formation de Sygefor<br/><br/>
