Bienvenue sur SYGEFOR !<br/><br/>

Votre compte a été créé sur Sygefor. Afin de pouvoir l'utiliser, vous devez d'abord l'activer en utilisant le lien suivant :<br/><br/>

<a href="{{ url }}">{{ url }}</a><br/><br/>

Cordialement,<br/>
L’équipe formation de Sygefor<br/><br/>
