Bonjour,<br/><br/>

Votre compte Sygefor a été activé par un administrateur. Vous pouvez accéder à votre compte à l'adresse suivante : <a href="{{ url('front.account') }}">{{ url('front.account') }}</a>.<br/><br/>

Cordialement,<br/>
L’équipe formation de Sygefor