Bonjour {{ trainee.fullName }},<br/><br/>

Vous avez demandé une réinitialisation de votre mot de passe Sygefor.<br/><br/>

Pour choisir votre nouveau mot de passe, utilisez cette adresse : <a href="{{ resetUrl }}">{{ resetUrl }}</a><br/><br/>

Avec nos cordiales salutations,<br/><br/>

L’équipe formation de Sygefor
