Bienvenue sur SYGEFOR !<br/><br/>

Votre compte est maintenant activé. Vous pouvez vous y connecter en utilisant vos identifiants sygefor ou shibboleth.<br/><br/>

Vous pouvez dès maintenant vous rendre sur <a href="{{ url('front.account') }}">votre espace dédié</a> pour suivre vos demandes et consulter l'historique des formations suivies : <a href="{{ url('front.account') }}">{{ url('front.account') }}</a><br/><br/>

Cordialement,<br/>
L’équipe formation de Sygefor