<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html">
<!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Sygefor{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/front/styles.css') }}"/>
    <!-- page styles -->
    {% block stylesheets %}{% endblock %}
    <!-- global scripts -->
    <script src="{{ asset('assets/front/scripts.js') }}"></script>
    <script type="application/javascript">
		(function($) {
			$(document).ready(function() {
				tarteaucitron.init({
					// "privacyUrl": "/page/rgpd", /* Privacy policy url */

					"hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
					"cookieName": "tarteaucitron", /* Cookie name */

					"showAlertSmall": false, /* Show the small banner on bottom right */
					"cookieslist": true, /* Show the cookie list */

					"removeCredit": false, /* Remove credit link */
					"moreInfoLink": true, /* Show more info link */
					"useExternalCss": true, /* If false, the tarteaucitron.css file will be loaded */
				});
			});
		})(jQuery);
    </script>

    {#<script type="text/javascript">#}
        {#tarteaucitron.user.matomoId = SITE_ID;#}
        {#tarteaucitron.user.matomoHost = "YOUR_MATOMO_URL";#}
        {#(tarteaucitron.job = tarteaucitron.job || []).push('matomo');#}
    {#</script>#}

    {#<script type="text/javascript">#}
        {#tarteaucitron.user.gajsUa = 'UA-XXXXXXXX-X';#}
        {#tarteaucitron.user.gajsMore = function () { /* add here your optionnal _ga.push() */ };#}
        {#(tarteaucitron.job = tarteaucitron.job || []).push('gajs');#}
    {#</script>#}
    <!-- page scripts -->
    {% block javascripts %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="body">

    <!-- header -->
    {% include '@Front/header.html.twig' %}

    <!-- content -->
    <div class="content">

        {% block header %}{% endblock %}
        {% block breadcrumbs %} {% endblock %}

        <!-- flashes -->
        {% block flashes %}
            {% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
            {% if app.session.flashbag.peekAll|length > 0 %}
                <div class="container flashes">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ session_flash() }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock flashes %}

        {% block body %}{% endblock %}
    </div>

    <!-- footer -->
    {% include '@Front/footer.html.twig' %}
</body>
</html>