{% block footer %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                 Conjecto
                <small>2014. SYGEFOR3 est un logiciel en <a href="https://github.com/sygefor/sygefor" target="_blank">open source</a>,
                    développé par <a href="http://www.conjecto.com/" target="_blank">Conjecto</a> à l’initiative de
                    l’<a target="_blank" href="https://sygefor.reseau-urfist.fr/#!/aru">Association du Réseau des URFIST (ARU)</a>.</small>
                <ul class="secondary-menu">
                    <li><a href="{{ path('front.page.about') }}">A propos de SYGEFOR 3</a></li>
                    <li><a href="{{ path('front.page.legalNotice') }}">Mentions légales</a></li>
                </ul>
            </div>
        </div><!-- --/row ---->
    </div><!-- --/container ---->
</footer>
{% endblock footer %}