{% extends "SygeforCoreBundle::layout.html.twig" %}
{% set ngApp = 1 %}
{% block breadcrumbs %}
    <ol ui-breadcrumb class="breadcrumb full-height-item" >
        <li><a href="{{ path('core.index') }}">Accueil</a></li>
    </ol>
{% endblock %}
{% block content %}
    {% verbatim %}
        <div class="ui-view-container full-height-item is-grow">
            <div ui-view></div>
        </div>
    {% endverbatim %}
{% endblock %}
