{% extends "email/_layout.html.twig" %}

{% block subject -%}
    SYGEFOR : Réinitialisation de votre mot de passe
{%- endblock %}

{% block body %}
    <p>Bonjour {{ recipient.fullName }},</p>
    <p>Vous avez demandé une réinitialisation de votre mot de passe Sygefor. Pour choisir votre nouveau mot de passe, utilisez cette adresse :</p>

    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="left">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td> <a href="{{ resetUrl }}" target="_blank">Réinitialiser mon mot de passe</a> </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

    <p>Avec nos cordiales salutations,</p>
    <p>L'équipe de {{ app_name }}.</p>
{% endblock %}
