{% extends "@SygeforFront/base.html.twig" %}

{% block header %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Connexion à votre compte</h1>
                </div>
            </div><!-- /row -->
        </div> <!-- /container -->
    </header>
{% endblock %}

{% block body %}
    <section class="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Pour pouvoir vous inscrire aux formations proposées par le CNRS, vous devez être authentifié. Vous pouvez utiliser votre compte universitaire et créer rapidement un compte SYGEFOR.</p>

                    <div class="login-section">
                        <h3 class="mb-15">J'ai un compte universitaire</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Vous avez un compte universitaire (CNRS, INRIA, INRA...) : utilisez-le pour créer ou retrouver votre compte SYGEFOR. <a href="{{ path('front.public.faq') }}">Consultez la FAQ</a></p>
                            </div>
                            <div class="col-sm-6">
                                <a href="{{ path('front.account') }}" class="btn btn-primary btn-block">Se connecter avec son compte universitaire</a>
                            </div>
                        </div>
                    </div>
                    <hr/>

                    <div class="login-section">
                        <h3 class="mb-15">Je n'ai pas de compte universitaire</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Vous pouvez créer un &laquo; Compte Réseau Universel &raquo; en moins d'une minute ! <a href="{{ path('front.public.faq') }}">Consultez la FAQ</a></p>
                            </div>
                            <div class="col-sm-6">
                                <a class="btn btn-primary btn-block" href="https://cru.renater.fr/sac/faces/home.jsp" target="_blank">Créer mon Compte Réseau Universel</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </section>

{% endblock body %}
