<div class="full-height-container is-full-width is-absolute is-direction-column">

    <!-- Results -->
    <div ng-if="search.result.total" class="full-height-item is-full-width is-grow">
        <div class="col-xs-12">
            <table search-table ng-class="{loading: search.processing}">
                <thead>
                    <tr>
                        <th></th>
                        <th search-table-th field="createdAt">Date</th>
                        <th ng-hide="$stateParams.trainee" search-table-th field="trainee.lastName.source">Stagiaire</th>
                        <th ng-hide="$stateParams.session" search-table-th field="session.dateBegin">Session</th>
                        <th search-table-th field="trainee.publicCategory.source">Public</th>
                        <th search-table-th field="trainee.institution.name.source">Établissement</th>
                        <th search-table-th field="inscriptionStatus.id">Inscription</th>
                        <th search-table-th field="presenceStatus.id">Présence</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in search.result.items" ng-class="{warning: isSelected(item.id)}">
                        <td ng-click="switchSelect(item.id)" stop-event><i class="fa" ng-class="{'fa-square-o': !isSelected(item.id), 'fa-check-square-o': isSelected(item.id)}"></i></td>
                        <td><a href="" ui-sref="inscription.detail.view({ id: item.id })">{{ item.createdAt|date: 'dd/MM/yyyy' }}</a></td>
                        <td ng-hide="$stateParams.trainee"><a href="" ui-sref="trainee.detail.view({ id: item.trainee.id })">{{ item.trainee.fullName }}</a></td>
                        <td ng-hide="$stateParams.session"><a href="" ui-sref="session.detail.view({ id: item.session.id })">{{ item.session.dateBegin|date: 'dd/MM/yyyy' }} - {{ item.session.training.name }}</a></td>
                        <td>{{ item.trainee.publicCategory }}</td>
                        <td>{{ item.trainee.institution.name }}</td>
                        <td><span class="label label-lg" ng-class="$root.inscriptionStatusClass(item.inscriptionStatus.status)">{{ item.inscriptionStatus.name }}</span></td>
                        <td><span class="label label-lg" ng-class="$root.presenceStatusClass(item.presenceStatus.status)" ng-if="item.presenceStatus">{{ item.presenceStatus.name }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-if="search.result.total" class="full-height-item is-full-width">
        <div search-table-controls></div>
    </div>

    <!-- No results -->
    <div class="full-height-item is-full-width is-grow" ng-if="search.executed && !search.result.total">
        <div class="col-xs-12">
            <h1>Oops!</h1>
            <p>Il n'y a aucune inscription correspondante à votre recherche.</p>
        </div>
    </div>

</div>
