
<form sf-xeditable-form="form" sf-href='training.view({id: training.id})' on-success="onSuccess(data)">
    <div ng-if="training" class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-8">
            <div class="btn-group pull-right">
                <a class="btn btn-fa" href="" tooltip="Bilan" ng-if="training.sessions.length && training._accessRights.view" ng-click="getBalanceSheet()"><span class="fa fa-file-excel-o"></span></a>
                <a class="btn btn-fa" href="" tooltip="Publipostage" ng-click="$dialog.open('batch.publipost', { items: [training.id], service: 'training' })"><span class="fa fa-file-word-o"></span></a>
                <a class="btn btn-fa" href="" ng-if="!training.session.promote" tooltip="Promouvoir la session" ng-if="training._accessRights.edit" ng-click="promote(1)"><span class="fa fa-star-o"></span></a>
                <a class="btn btn-fa" href="" ng-if="training.session.promote" tooltip="Dépromouvoir la session" ng-if="training._accessRights.edit" ng-click="promote(0)"><span class="fa fa-star fa-highlight"></span></a>
                <a class="btn btn-fa" href="" tooltip="Dupliquer" ng-if="training._accessRights.edit" ng-click="duplicate()"><span class="fa fa-copy"></span></a>
                <a class="btn btn-fa" href="" tooltip="Supprimer" ng-if="training._accessRights.delete" ng-click="delete()"><span class="fa fa-trash-o"></span></a>
            </div>

            <div class="pre-title">{{ training.typeLabel }} n°{{ training.number }} -  {{ training.organization.name }}</div>
            <h2><span sf-xeditable="form.children.name" data-type="text">{{ training.name }}</span></h2>

            <!--
             Infos
            -->
            <div class="row">
                <div class="col-lg-6">
                    <ul class="summary">
                        <li><label>Type</label> <span sf-xeditable="form.children.category">{{ training.category.name }}</span></li>
                        <li><label>National</label> <span sf-xeditable="form.children.national">{{ training.national ? 'Oui' : 'Non' }}</span></li>
                        <li><label>Thématique</label> <span sf-xeditable="form.children.theme" data-type="select">{{ training.theme.name }}</span></li>
                        <li><label>Date</label><span sf-xeditable="form.children.session.children.dateBegin" data-placement="right">{{ training.session.dateBegin|date: 'dd/MM/yyyy' }}</span></li>
                        <li><label>Date de fin</label> <span sf-xeditable="form.children.session.children.dateEnd">{{ training.session.dateEnd|date: 'dd/MM/yyyy' }}</span></li>
                        <li><label>Horaires</label> <span sf-xeditable="form.children.session.children.schedule">{{ session.schedule }}</span></li>
                        <li><label>Nombre d'heures</label> <span sf-xeditable="form.children.session.children.hourNumber">{{ session.hourNumber }}</span></li>
                        <li><label>Nombre de jours</label> <span sf-xeditable="form.children.session.children.dayNumber">{{ session.dayNumber }}</span></li>
                        <li><label>Tarif</label> <span sf-xeditable="form.children.session.children.price">{{ session.price ? session.price : 0 }} &euro;</span></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="summary">
                        <li><label>Lieu</label> <span sf-xeditable="form.children.session.children.place" data-mode="popup" data-type="select">{{ session.place.name }}</span></li>
                        <li><label>Inscriptions</label> <span sf-xeditable="form.children.session.children.registration">{{ $trainingBundle.registrationStates[training.session.registration] }}</span></li>
                        <li><label>Afficher en ligne</label> <span sf-xeditable="form.children.session.children.displayOnline">{{ training.session.displayOnline ? 'Oui' : 'Non' }}</span></li>
                        <li><label>Participants max</label> <span sf-xeditable="form.children.session.children.maximumNumberOfRegistrations">{{ training.session.maximumNumberOfRegistrations }}</span></li>
                        <li><label>Date limite</label> <span sf-xeditable="form.children.session.children.limitRegistrationDate">{{ training.session.limitRegistrationDate|date: 'dd/MM/yyyy' }}</span></li>
                        <li ng-if="!training.session.registration"><label>Nombre d'inscriptions</label> <span sf-xeditable="form.children.session.children.numberOfRegistrations">{{ training.session.numberOfRegistrations }}</span></li>
                    </ul>
                </div>
            </div>

            <!--
             Program
            -->
            <div class="row mg-1">
                <div class="col-lg-6">
                    <h3>Programme</h3><hr>
                    <p><span sf-xeditable="form.children.program" data-type="textarea">{{ training.program }}</span></p>

                    <ul class="nav nav-tabs">
                        <li ng-click="tab = 'inscriptions'" class="active"><a href="" data-toggle="tab"><span class="fa fa-graduation-cap"></span> Inscriptions ({{ session.inscriptions.length }})</a></li>
                        <li ng-click="tab = 'messages'"><a href="" data-toggle="tab"><span class="fa fa-send"></span> Messages ({{ session.messages.length ? session.messages.length : 0 }})</a></li>
                    </ul>
                </div>
            </div>

            <!--
             Inscriptions
            -->
            <div ng-show="!tab || tab === 'inscriptions'">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- opened inscriptions -->
                        <div ng-if="session.registration > 0" ng-include src="'mycompanybundle/training/session/states/detail/partials/inscriptions.html'" ng-controller="SessionInscriptionsController"></div>
                        <!-- closed inscriptions -->
                        <div ng-if="session.registration == 0" ng-include src="'mycompanybundle/training/session/states/detail/partials/participants-summary.html'" ng-controller="SessionParticipantsSummaryController"></div>
                    </div>
                </div>
            </div>

            <!--
             Emails
            -->
            <div ng-show="tab === 'messages'">
                <div class="row mb-1">
                    <div class="col-lg-12">
                        <div entity-emails session="session.id"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4 sidebar">

            <!--
             Url
            -->
            <div class="block" ng-if="session.displayOnline === true && session.registration !== 2">
                <div class="block-body">
                    <div input-copy-clipboard="session.publicUrl"></div>
                </div>
            </div>

            <div class="block" ng-if="session.registration === 2">
                <div class="block-body">
                    <div input-copy-clipboard="session.privateUrl"></div>
                </div>
            </div>

            <!--
             Comments
            -->
            <div class="block block-comments">
                <div class="block-title">
                    <span class="fa fa-comment-o"></span> Commentaires
                </div>
                <div class="block-body">
                    <span sf-xeditable="form.children.comments" data-type="textarea">{{ training.comments }}</span>
                </div>
            </div>

            <!--
             Supports
            -->
            <!--ng-include src="'/bundles/sygefortraining/ng/training/states/detail/partials/supports.block.html'"></ng-include-->

        </div>
    </div>
</form>
