<div class="modal-header">
    <button type="button" class="close" ng-click="dialog.dismiss()" aria-hidden="true">×</button>
    <h4 class="modal-title"><i class="fa fa-users"></i> Changer le statut du doublon</h4>
</div>
<form sf-href="trainee.changeduplicateignorance({id: dialog.params.duplicate.id})" sf-form="form" json-path="form" on-success="onSuccess(data)" class="form-horizontal" novalidate>
    <div class="modal-body center-block">
        <div class="form-group" ng-class="{'has-error': form.children.ignored.children.errors.length }">
            <label class="col-sm-4 control-label" for="{{ form.children.ignored }}">Ce n'est pas un doublon ?</label>
            <div class="col-sm-8">
                <span sf-form-widget="form.children.ignored" class="form-control"/>
                <div ng-repeat="error in form.children.ignored.errors" class="help-block">{{ error }}</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default" ng-click="dialog.dismiss()">Annuler</a>
        <input class="btn btn-primary" type="submit" value="Valider" />
    </div>
</form>
