<div class="modal-header">
    <button type="button" class="close" ng-click="dialog.dismiss()" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel">Gérer les support</h4>
</div>
<div class="modal-body">
    <div sf-file-upload data-thref="{route: 'material.add', params: {training_id: dialog.params.training.id}}" data-add-callback="addCallback" data-download-callback="downloadCallback" data-remove-callback="removeCallback" data-queue='dialog.params.training.materials'></div>
</div>
<div class="modal-footer">
    <a class="btn btn-default" ng-click="dialog.dismiss()">Fermer</a>
</div>
