ul.summary {
	margin-bottom: 0;
	font-size: $font-p-size;

	& > li {
		display: table;
		width: 100%;
		margin-bottom: $padding-base-vertical;
        & > label {
          width: 30%;
          display: table-cell;
          font-weight: bold;
          padding-right: $padding-base-horizontal;
          & + span {
            display: table-cell;
          }
        }
	}
}

ul.summary {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

p {
	color: $gray;
	font-size: $font-p-size;
}

h2, .h2 {
  //font-size: 18px;
  font-weight: lighter;
  margin-top: ($line-height-computed / 2);
  //margin-bottom: $line-height-computed*1.2;
}

h3, .h3, .title-action {
	//font-size: $font-size-large;
	font-weight: normal;
	position: relative;
	background-color: #fff;
	display: inline-block;
	padding-right: 1em;

	& + hr {
		margin-top: -1em;
		//margin-right: 1em;
	}

}
h4 {
	//font-size: 15px;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-white {
  background-color: #FFF !important;
}

.sidebar {

}

.h4 {
	font-size: 13px;
	font-weight: 600;
	//text-transform: uppercase;
	color: $gray-dark;
	> .fa {
		//top: -1px;
		position: relative;
        color: $custom-input-icon-color;
	}
}


.list-padded {
  li {
    padding: 3px 0px;
  }
}

.list-hover {
  li:hover {
    background-color: $table-bg-hover;
  }
}

.text-gray {
	color: $gray;
}
.text-gray-light {
	color: $gray-light;
}
.text-gray {
	color: $gray;
}
.text-white {
	color: #fff !important;
}
.text-dark {
	color: $gray-dark !important;
}
.text-small {
	font-size: $font-size-small;
}
.text-light {
	font-weight: lighter !important;
}
.text-right {
	text-align: right;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
	margin-bottom: $line-height-computed;
}
.mb-2 {
	margin-bottom: $line-height-computed*2;
}
.pb-1 {
	padding-bottom: $line-height-computed;
}
.pb-2 {
	padding-bottom: $line-height-computed*2;
}
.pl-0 {
  padding-left: 0 !important;
}
.mt-0 {
  margin-top: 0;
}
.mt-1 {
	margin-top: $line-height-computed;
}
.mt-2 {
	margin-top: $line-height-computed*2;
}
.pt-1 {
	padding-top: $line-height-computed;
}
.pt-2 {
	padding-top: $line-height-computed*2;
}

.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: .5em;
}
.ml-2 {
  margin-left: 1em;
}
.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: .5em;
}
.mr-2 {
  margin-right: 1em;
}

.label {
  font-size: .8em;
}

.label-lg {
  font-size: .9em;
}

.label-sm {
  font-size: .75em;
}

.label.label-transparent {
  color: $gray !important;
  background-color: transparent;
}

.badge-success {
  background-color: $label-success-bg;
}
.badge-info {
  background-color: $label-info-bg;
}
.badge-warning {
  background-color: $label-warning-bg;
}
.badge-danger {
  background-color: $label-danger-bg;
}
.badge-default {
  background-color: $label-default-bg;
}

.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}

.full-width {
	width: 100%;
}

.btn-link.dropdown-toggle {

	&:hover, &:focus {
		text-decoration: none;

		.badge {
			background-color: $gray;
			transition: $transition-bg;
		}
	}
}

.well {
  border: 0px;
  @include box-shadow(inset 0 0px 0px rgba(0,0,0,.05));
}

.well-empty {
  color: $gray-light;
}

.well-xs {
  padding: 5px;
  border-radius: 3px;
}

.close-inline {
  float:none;
  vertical-align: bottom;
  &.dbl {
    background-color: #cecece;
    padding: 1px 5px;
    border-radius: 3px;
    opacity: .3;
    filter: alpha(opacity=30);
  }
  &.dbl:hover {
    opacity: .7;
    filter: alpha(opacity=70);
  }
}

.input-copy-clipboard input[readonly] {
  background-color: #FFF;
  //color:$gray-light;
  cursor: pointer;
}
