
.is-fixed-bottom {
	position: absolute;
	bottom: 0;
}



.pagination-wrapper, .pager-wrapper, .fixed-bloc-wrapper {
	background-color: #FFF;
	height: auto;
	padding: $padding-base-vertical*2 $grid-gutter-width/2;
	//padding-top: 0;
	line-height: 0;
 	z-index: 1000;

	.pagination {
		margin: 0;
	}
	&::before {
		content: '';
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
		height: $grid-gutter-width;
		display: block;
		width: 100%;
		//border: 1px solid red;
		position: absolute;
		left: 0;
		bottom: 100%;
	}
}

.fixed-bloc-wrapper {
	background-color: rgba(250, 250, 250, 1) !important;
	z-index: 1000;
	vertical-align: middle;

	.flex-item {
		vertical-align: middle;
	}

	&::before {
		height: $grid-gutter-width/3;
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.10) 100%); /* W3C */
	}
}

// .pagination-fixed
.absolute-fixed-wrapper {
	@extend .full-height-container;
	@extend .is-absolute;

	.table-search {
		@extend .full-height-item;
		@extend .is-grow;
		@extend .is-overflow-y;
		@extend .is-full-width;
	}

	.pagination-wrapper {
		@extend .full-height-item;
		
	}

	//.pagination-wrapper, .pager-wrapper, .fixed-bloc-wrapper {
	//	position: absolute;
	//	//position: absolute;
	//	bottom: 0;
	//	margin: 0;
	//	padding: 0;
	//	width: calc(100% - 30px);
	//	//border: 1px solid red;
	//	z-index: 100;
	//	left: $grid-gutter-width/2;
	//	right: $grid-gutter-width/2;
//
	//	background-color: #FFF;
	//	height: auto;
	//	padding: $padding-base-vertical*2 $grid-gutter-width/2;
	//	padding-top: 0;
	//	line-height: 0;
//
	//	&::before {
	//		content: '';
	//		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	//		height: $grid-gutter-width;
	//		display: block;
	//		width: 100%;
	//		//border: 1px solid red;
	//		position: absolute;
	//		left: 0;
	//		bottom: 100%;
	//	}
	//}
//
	//.page-wrapper {}
	//.pagination, .pager {
	//	padding: 0;
	//	margin: 0;
	//}
}

.pagination > .active > a {
	font-weight: bold;
}

.relative-fixed-wrapper {
	position: relative;

	.pager-wrapper {
		position: fixed;
		bottom: 0;
	}
}