<div ng-if="training" class="row">
    <div class="col-md-8">
        <form sf-xeditable-form="form" sf-href='training.view({id: training.id})' on-success="onSuccess(data)">

            <!-- training form -->
            <ng-include src="'trainingbundle/training/states/detail/partials/training.form.html'"></ng-include>

            <!-- training : training course -->
            <h3><span>{{ training.typeLabel }}</span></h3><hr>
            <div class="row">
                <div class="col-lg-6">
                    <ul class="summary">
                        <li><label>Établissement</label> <span sf-xeditable="form.children.institution" data-type="select">{{ training.institution.name }}</span></li>
                        <li><label>Contexte</label> <span sf-xeditable="form.children.context" data-type="textarea">{{ training.context }}</span></li>
                        <li><label>Responsable pédag.</label> <span sf-xeditable="form.children.supervisor">{{ training.supervisor }}</span></li>
                        <li><label>Cursus d'enseignement</label> <span sf-xeditable="form.children.teachingCursus">{{ training.teachingCursus.name }}</span></li>
                        <li ng-if="training.teachingCursus.name === 'Autre'"><label>Autre cursus</label> <span sf-xeditable="form.children.otherCursus">{{ training.otherCursus }}</span></li>
                        <li><label>Domaine disciplinaire</label> <span sf-xeditable="form.children.disciplinaryDomain" on-change="unset('disciplinary')">{{ training.disciplinaryDomain.name }}</span></li>
                        <li ng-show="form.children.disciplinary"><label>Discipline</label> <span sf-xeditable="form.children.disciplinary">{{ training.disciplinary.name }}</span></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="summary">
                        <li><label>Type d'intervention</label> <span sf-xeditable="form.children.interventionType">{{ training.interventionType }}</span></li>
                        <li><label>Evaluation</label> <span sf-xeditable="form.children.evaluation">{{ training.evaluation ? 'Oui' : 'Non' }}</span></li>
                        <li><label>Initiative externe</label> <span sf-xeditable="form.children.externInitiative">{{ training.externInitiative ? 'Oui' : 'Non' }}</span></li>
                    </ul>
                </div>
            </div>

        </form>
    </div>

    <!--
    -- SIDEBAR
    -->
    <div class="col-md-4 sidebar">
        <ng-include src="'trainingbundle/training/states/detail/partials/sessions.block.html'"></ng-include>
        <ng-include src="'trainingbundle/training/states/detail/partials/materials.block.html'"></ng-include>
        <ng-include src="'trainingbundle/training/states/detail/partials/comments.block.html'"></ng-include>
    </div>
</div>
