<div>
    <h3><span class="fa fa-send"></span> Messages envoyés <span class="badge">{{ search.result.total ? search.result.total : 0 }}</span></h3><hr/>

    <div ng-if="!search.result.total" class="well well-empty well-sm">
        Aucun message n'a été envoyé à ce formateur.
    </div>

    <table ng-if="search.result.total" class="table table-hover table-responsive table-search.result table-condensed table-nohead">
        <!--thead>
            <tr>
                <th>Sujet</th>
                <th>Envoyé par</th>
                <th>Date</th>
            </tr>
        </thead-->
        <tbody>
        <tr ng-repeat="email in search.result.items">
            <td><a title="Voir le message" ng-click="dislayEmail(email.id)" href="">{{ email.subject }}</a></td>
            <td title="Envoyé par {{ email.userFrom.username }}">{{ email.userFrom.username }}</td>
            <td title="Date d'envoi">{{ email.sendAt | date: 'dd/MM/yyyy' }}</td>
        </tr>
        </tbody>
    </table>
    <div ng-if="search.result.total > search.query.size" class="full-height-item is-full-width">
        <div search-table-controls></div>
    </div>
</div>
