<div class="widget" ng-class="{'loading': loading}">
    <div class="widget-header">
        <ul class="widget-actions">
            <li ng-if="refresh"><a href="" ng-click="refresh()"><i class="fa fa-refresh"></i></a></li>
            <li ng-if="configure"><a href="" ng-click="configure()"><i class="fa fa-cog"></i></a></li>
            <li ng-if="open"><a href="" ng-click="open()"><i class="fa fa-external-link"></i></a></li>
        </ul>
        <div class="widget-title">{{ options.title }} <small>{{ options.subtitle }}</small></div>
    </div>
    <div class="widget-body-container">
        <div class="widget-loading" ng-show="loading"><i class="fa fa-refresh fa-spin"></i></div>
        <div class="widget-body" widget-body>Chargement...</div>
    </div>
</div>
