{% extends "@SygeforApi/Account/Registration/authorization.pdf.twig" %}

{% block body %}
    <div class="no-pb">
        <h3>Classification de la formation professionnelle des agents publics</h3>
        <p><i>Circulaire d'application du décret n°2007-1470 du 15 octobre 2007 (pages 3 et 4) relatif à la Formation tout au long de la vie</i> - <strong>Ne le remplir que si votre administration le demande</strong></p>
        <table>
            <tr>
                <td>
                    <strong>DIF</strong> <i>(Droit Individuel à la Formation)</i>
                    <br><span class="box">&#9744;</span> <strong>Cocher la case correspondante</strong>
                </td>
                <td>
                    <span class="box">&#9744;</span> <strong>T2 : Evolution prévisible du métier</strong><br>
                    <span class="box">&#9744;</span> <strong>Oui utilisation du DIF nombre d'heures :</strong><br>
                    <span class="box">&#9744;</span> <strong>Non</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="box">&#9744;</span> <strong>T1 : Adaptation immédiate au poste de travail, utilisation du DIF non possible</strong>
                </td>
                <td>
                    <span class="box">&#9744;</span> <strong>T3 : Acquisition de nouvelles compétences</strong><br>
                    <span class="box">&#9744;</span> <strong>Oui utilisation du DIF nombre d'heures :</strong><br>
                    <span class="box">&#9744;</span> <strong>Non</strong>
                </td>
            </tr>
        </table>
    </div>
{% endblock body %}